/* Purple for navbar and progress bar. */
.dark-purple {
    background-color: #5c2abf;
}

/* Fonts. */
.dark-gray {
    color: #515151;
}

.progress-text {
    background-color: transparent;
    font-size: 3em;
    width: auto;
    height: 100%;
    text-align: center;
}

@media (min-width: 544px) {
    .progress-text {font-size:1em;}
}

/* Header styling. */
.background-image {
    background-image: url('../public/imgs/astronaut.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    height: 480px;
    margin-bottom: -1rem;
    overflow: hidden;
}

@media (min-width: 544px) {
    .background-image {
        margin-bottom: 0;
    }
}

/* Footer class. */
.footer {
    min-height: 53px;
    background-color: #515151;
}

/* Responsive progress-bar attributes. */
.flex-bar {
    height: 2rem;
    width: 100%;
    align-self: center;
}

@media (min-width: 544px) {
    .flex-bar {
        height: 1rem;
        margin-left: 1rem;
        width: 25%;
    }
    .bar-container {
        flex-direction: row !important;
    }
}

/* Navbar and tray. */
.navbar {
    height: 75px;
}

.custom-toggler.navbar-toggler { 
    /* Changes icon for toggler hamburger. */
    background-image: url("../public/imgs/hamburger-icon.svg");
}

.custom-close.btn-close { 
    /* Changes icon for toggler cancel-x. */
    background-image: url("../public/imgs/vector-x.svg");
}

.link {
    color: rgba(255,255,255,1);
    margin: 0 1rem 0 1rem;
    text-decoration: none;
}

.link:hover {
    color: rgba(255,255,255,1);
}

.link > img {
    display: none;
}

@media (max-width: 544px) {  
    .offcanvas {
        width: 70%;
        top: 77px;
        padding-left: 0;
        display: inline;
    }

    .link {
        color: black !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid grey;
    }

    .link > img {
        display: inline;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}

/* Background color for bottom gutter. */
.bg-dark-grey {
    background-color: #515151;
}

/* Responsive classes for main content on large screens. */
.flex-w {
    width: 100%;
    margin-bottom: 100px;
}

.card-text {
    font-size: 1.25em;
    line-height: 1.75em;
    text-align: center;
}

@media (min-width: 544px) {
    .flex-w {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-small-unit {
        box-sizing: border-box;
        width: 45%;
    }
}

@media (min-width: 1090px) {
    .flex-small-unit {
        width: 30%;
    }
}